/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bet-stats-match {
	/* width: auto; */
	max-width: 58rem;
	width: calc(100% - 4rem);
	text-align: center;
	margin: 0 auto;
	/* float: left; */
}